body {
    background-image: url('maxresdefault.jpg');
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
}

h1 {
    color: white; /* Change text color to white for better visibility */
}
